.container {
    height: 100vh;
    background-color: rgb(196, 214, 231);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /*gap: 20px;*/
    column-gap: 10px;
    row-gap: 20px;
    /*justify-items: center;
    align-items: center;*/
    place-items: center center;
}

.box {
    border: 1px solid;
    height: 100px;
    width: 100px;
}