/* 
UNIDADES DE MEDIDAS ABSOLUTAS
cm - centímetros
mm - milímetros
in - polegadas 
px* - pixels 
pt - points 
pc - paica

UNIDADES DE MEDIDA RELATIVAS
em - multiplica o tamanho da fonte do elemento pai/superior, exemplo: a li é subordinada de ol/ul
ex
ch
rem - multiplica o valor padrão da página/raiz (*)
vw - em relação a largura width
vh - em relação a altura height
vmin
vmax
% - relativo ao elemento pai

*/

html {
    margin: 10px;
    font-size: 62.5%;
}

.box1   {
    font-size: 1.5rem;
}

.box2   {
    font-size: 1.5rem;
}

ol {
    font-size: 2em;
}

li {
    font-size: 2em;
}

p {
    font-size: 2rem;
}

article {
    padding: 50px;
    background-color: rgb(148, 100, 193);
    height: 50vh;
    width: 50vw;
}

section{
   background-color: rgb(206, 99, 154);
   height: 100vh;
   width: 100vw;
}

.box3 {
    marging: 0;
    width: 600px;
    height: 300px;
    background-color: rgb(236, 230, 158);
}

.box4 {
    padding: 0;
    margin: 0;
    height: 300px;
    width: 75% ;
    background-color: rgb(147, 234, 234);
}



