/* 



*/
.box1 {
    height: 250px;
    width: 250px;
    background-color: rgb(189, 143, 233);
    border: 1px solid;
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 20px;
    margin-left: 25px;
    margin: 20px;
    
    
}

.box2 {
    padding-top: 20px;
    padding-right: 25px;
    padding-bottom: 30px;
    padding-left: 35px;
    margin-top: 10px;
    height: 250px;
    width: 250px;
    background-color: rgb(231, 135, 222);
    border: 1px solid;

}