
/*  */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Kaushan+Script&family=Shadows+Into+Light&display=swap');

body    {
        background-color: #f3b2cb;
        }

h1      {
        color:#ff5291 ;
        font-family: "Shadows Into Light", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 50px;
        }
    
p       {
        font-family: 'Courier New', Courier, monospace;
        line-height: 200%;
        text-align: center;
        }

span    {
        font-weight: bold;
        }