.container{
    height: 400px;
    width: 700px;
    background-color:grey;
    border: 2px solid cyan;

    display:flex;
    /* flex-direction: column;
    flex-direction: column-reverse;
    flex-direction: row;
    flex-direction: row-reverse;*/
    flex-direction: row;

    /* direction: rtl; 
    direction: ltr;*/
    direction: ltr;
    
    /* flex-wrap: nowrap;
    flex-wrap: wrap-reverse; */
    flex-wrap: wrap;
    
    justify-content: flex-start;
    /* justify-content: center;
    justify-content: flex-end; */
    
    /* justify-content: space-around;
    justify-content: space-between; */
    justify-content: space-evenly;

    align-items:flex-start; 
    align-items: flex-end;
    align-items: center;
} 
.box{
    margin: 5px;
    height: 100px;
    width: 100px;
    border: 1px solid;
}
.box1{
    background-color: green;
}
.box2{
    background-color: yellow;
}
.box3{
    background-color: red;
}