* {
    margin: 0;
}
.container {
    height: 100vh;
    border: 1px solid;
    background-color: rgb(174, 118, 226);

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
        "header header header header"
        "main aside aside aside"
        "main main main aside"
        "footer footer footer footer"
    ;
    }

.box1 {
    display: flex;
    background-color: 
    grid-area: ;
}
.box2 {
    background-color: 
    grid-area: ;
}
.box3 {
    background-color: 
    grid-area: ;
}
.box4 {
    background-color:
    grid-area: ;
}
.box5 {
    background-color:
    grid-area: ;
}
.box6 {
    background-color:
    grid-area: ;
}
